<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1>Opret produkt</h1>
    <form action="#" th:action="@{/createProduct}" th:object="${product}" method="post">
        <tr>
            <td><label for="name">Navn på produkt</label></td>
            <td><input type="text" th:field="*{name}" class="form-control" id="name" placeholder="navn"></td>
        </tr>
        <tr>
            <td><label for="price">Pris på produkt</label></td>
            <td><input type="text" th:field="*{price}" class="form-control" id="price" placeholder="pris"></td>
        </tr>
        <tr>
            <td><label for="description">Beskrivelse på produkt</label></td>
            <td><input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Beskrivelse"></td>
        </tr>

        <br>
        <td><input class="btn btn-primary" type="submit" name="submit" value="Opret produkt"></td>

    </form>
</div>

</body>
</html>